@import "../../stylus/variables"
@import "jeet"

$hamburgerWidth = 20px
$hamburgerStrokeWidth = 2px
$hamburgerBorderRadius = 1px
$hamburgerSpacing = 6px
$hamburgerSpacingHover = 8px

.header
  position relative
  width 100%
  transition background-color 175ms ease-in-out
  transform translateZ(0)
  pointer-events none
  z-index $z-index-header
  cf()

  a
    text-decoration none
    color #000

  &.fixed
    position fixed
    top 0
    left 0
    right 0

.logo,
.menu-btn,
.back-btn
  pointer-events all

.logo
  padding 1rem 2rem 0
  vertical-align middle
  position relative

.logo
  float left

  h1
    transition opacity 200ms ease-in-out
    margin-top 0

    +below(769px)
      font-size 1.8rem

    +below(500)
      font-size 1.4rem

  &:hover h1
    opacity 0.7

.menu-btn
  button()
  display block
  top 1rem
  right 1rem
  position absolute
  left auto

  &:hover
    cursor pointer

    .hamburger
      &:before,
      &:after
        width $hamburgerWidth
      &:before
        top -($hamburgerSpacingHover)
      &:after
        top $hamburgerSpacingHover

  .navigation-open &
    .hamburger
      background 0 0

    .hamburger:after,
    .hamburger:before
      background #999
      top 0
      width $hamburgerWidth
      transform rotate(45deg)

    .hamburger:after
      transform rotate(-45deg)

    &:hover
      .hamburger
        transform scale(1.2)

.hamburger
  width $hamburgerWidth
  height $hamburgerStrokeWidth
  margin 10px 0
  background $gray
  position relative
  z-index 1000
  border-radius $hamburgerBorderRadius
  transition all 300ms cubic-bezier(.68,-.55,.265,1.55)

  &:before,
  &:after
    width $hamburgerWidth

  &:before
    top -($hamburgerSpacing)
    right 0

  &:after
    top $hamburgerSpacing
    right 0

  &:before,
  &:after
    border-radius $hamburgerBorderRadius
    height $hamburgerStrokeWidth
    background $gray
    content ""
    position absolute
    transition: all 300ms cubic-bezier(.68,-.55,.265,1.55)

.navigation-open
  .menu-btn
    display block
