@import "../../stylus/variables"
@import "jeet"

.note-box
  margin 0 auto
  width 100%
  max-width 51.5rem
  padding 2.875rem 1rem
  color #999
  transform translateZ(0)
  list-style none

  .note
    padding 1rem 0
    border-bottom 1px solid $gray-lighter
    line-height 1.5rem
    cf()

    &:last-child
      border-bottom none

    .avatar
      width 1.5rem
      height 1.5rem
      margin-right 0.75rem
      vertical-align middle

    a
      color: #000
      text-decoration none

      &:hover
        color: $blue
