@import "../../stylus/variables"

.posts
  max-width: 40rem
  margin: 0 auto

  .post-wrapper
    display block
    position relative
    margin-top 8rem

    +below(DISPLAY_MEDIUM)
      margin-top 4rem
