.leading-quote
  font-family proxima-nova,Helvetica,Arial,sans-serif
  padding 0 20px

  .fixed-header &
    margin-top 68px

  p
    font-size 2.5rem

    +below(850px)
      font-size 1.25rem

    +below(455px)
      font-size 1rem
