.header .item
  font-size 16px
  padding 0 1.25em
  width 40%

.header .logo
  display inline-block
  color #fff
  vertical-align top
  transition all 300ms ease
  h1
    display inline-block
    font-size 1.9em
    font-family Montserrate, Helvetica, Arial, sans-serif
    line-height 0.8em
    letter-spacing -0.08em
    margin 0

.header .gear
  width 15%

.header .menu-btn
  vertical-align top
  display inline-block
  opacity 1
  filter none
  transition 300ms ease 200ms
  color #fff
  background none
  border none
  text-align right
  text-transform uppercase
  img
    max-width 16px
    margin-left 10px
    margin-bottom 2px
    vertical-align middle
    display inline-block
    width 6.5em
