.header
  position relative
  height 315px
  width 100%
  transition background-color 175ms ease-in-out
  cf()

  a
    text-decoration none
    color #fff

  &.fixed
    position fixed
    height 53px
    left 0
    right 0
    top 0
    padding 0 10px
    background-color #fff
    border-bottom 1px solid #f2f2f2
    z-index 100
