@import "../../stylus/variables"
@import "jeet"
@import "rupture"

.navigation
  position fixed
  top 0
  left 0
  bottom 0
  right 0
  background-color $modal-bg
  backface-visibility none
  overflow auto
  display flex
  flex-flow row wrap
  align-content flex-start

  &.navigation-enter,
  &.navigation-leave
    transition transform $animation-speed-fast $animation-curve-default , opacity $animation-speed-fast $animation-curve-default

  &.navigation-enter
    transform scale(1.1)
    opacity 0

    &.navigation-enter-active
      transform scale(1)
      opacity 1

  &.navigation-leave
    transform scale(1)
    opacity 1

    &.navigation-leave-active
      transform scale(1.1)
      opacity 0

  .external
    padding 0 2rem
    margin-top 8rem
    flex-grow 0
    flex-shrink 0
    width 100%

    a
      display inline
      position relative
      margin 1.25em 1rem 1.2em 0
      color #000
      text-decoration none
      color $gray

      h2
        display inline
        margin 0
        font-weight bold
        font-size 1.4rem

  .logo
    position absolute
    top 1rem
    left 0
    text-decoration none
    color #000
    margin-top 0

  .close-btn
    button()
    position absolute
    top 1rem
    right 2rem

@keyframes fadeInUp
  from
    transform translateY(-30%) translateZ(0)
  to
    transform translateY(0) translateZ(0)

.hashtags ul
  flex-grow 0
  flex-shrink 0
  list-style none
  padding 0 2rem

  li
    display inline
    margin-right 1rem

  a
    text-decoration none
    color $gray

    &:hover
      color black

    &.active
      color $blue
