@import "../../stylus/variables"
@import "jeet"
@import "rupture"

.navigation
  position fixed
  top 0
  left 0
  bottom 0
  right 0
  background-color $modal-bg
  backface-visibility none
  overflow auto
  display flex
  flex-flow row wrap
  align-items center

  &.navigation-enter,
  &.navigation-leave
    transition transform 400ms ease, opacity 400ms ease

  &.navigation-enter
    transform scale(1.1)
    opacity 0

    &.navigation-enter-active
      transform scale(1)
      opacity 1

  &.navigation-leave
    transform scale(1)
    opacity 1

    &.navigation-leave-active
      transform scale(1.1)
      opacity 0

  .external
    width 99.9%
    padding 0 2rem
    top 50%
    transform translateY(-50%) translateZ(0)
    font-size 19px
    transition all 400ms ease
    animation fadeInUp 600ms ease
    animation-fill-mode both
    cf()

    a
      display inline
      position relative
      margin 1.25em 1rem 1.2em 0
      color #000
      text-decoration none
      text-transform uppercase
      font-size 19px
      transition all 400ms ease

      h2
        position relative
        display inline
        margin 0
        font-weight bold

  .logo
    position absolute
    top 30px
    left 0
    text-decoration none
    color #000
    margin-top 0

  .close-btn
    button()
    position absolute
    top 2rem
    right 2rem

@keyframes fadeInUp
  from
    transform translateY(-30%) translateZ(0)
  to
    transform translateY(-50%) translateZ(0)

.hashtags ul
  list-style none
  padding 0 2rem

  li
    display inline
    margin-right 1rem

  a
    text-decoration none
    color $gray

    &:hover
      color black
