@import "../../stylus/variables"
@import "jeet"
@import "rupture"

.title-box
  font-size 2rem
  cf()

  h3
    margin 0
    padding 0

    a
      color $blue
      text-decoration none
      padding 2.5rem 0 1.25rem
