@import "jeet"
@import "rupture"

BREAKPOINT = 900px

.title-box
  position absolute
  margin 0
  padding 3.125rem 5.125rem 2.25rem 1.625rem
  min-width 5rem * 4
  top 0
  left 1.625rem
  z-index 100
  font-size 2rem
  background-color #333
  color #fff
  z-index 200

  +below(BREAKPOINT)
    position relative
    margin 0
    padding 0 1.414rem
    top 0
    left 0
    height 4.125rem
    line-height @height
    font-size 1.414rem

  &.no-title
    background-color transparent

  h3
    font-weight 400
    margin 0
    padding 0
