@import "../../stylus/variables"

.backer
  svg
    height 1.625rem * (3/4)

    g
      fill none
      stroke $gray
      stroke-width 2.2
      stroke-linecap round
      stroke-linejoin round
      stroke-miterlimit 10
