@import "nib"

.backer
  background-color #E5E5E5
  position absolute
  top 7.625rem
  right 0
  bottom 0
  left 0

  svg
    position absolute
    height 7.625rem * (3/4)
    top -@height
    left 0
    width 100%
    g
      fill @background-color
      width 100%
