.app
  width 100%
  overflow-x hidden

.container
  display block
  position relative
  opacity 1
  filter none
  transition all 350ms ease
  min-height 100%
  perspective 1000

  .navigation-open &
    transform scale(0.925)
    opacity 0.75
