@import "../../stylus/variables"

.back-btn
  position relative
  padding 1rem
  margin 0 0 0 1rem
  background transparent
  color $gray
  border 0
  z-index 100
  overflow hidden
  cursor pointer
  outline none
  float left
  width 3rem
  transition width 200ms ease

  .blend-mode-support &
    color #fff

  h5
    position relative
    float left
    z-index 10
    margin 0
    padding 0
    font-size 0.915rem
    line-height 1rem

  + .logo
    padding-left 0

  &.is-hidden
    display none
    width: 0

    + .logo
      padding-left 2rem