@import "jeet"
@import "rupture"
@import "../../stylus/variables"

.hero-unit
  display block
  position relative
  padding 0 2rem
  width 100%

  .hero-wrapper
    display flex
    flex-direction column
    width: 100%
    max-width 1040px
    margin 0 auto

    +below(m)
      display block

  .backer
    position absolute
    top 0
    left 0
    right 0
    width 100%
    height 110%
    z-index -1

    g
      fill transparent

  .intro
    align-self flex-start
    width 100%

    +below(m)
      display block
      width 100%
      cf()

      p
        font-size 0.875rem
        line-height 1.5625rem

  .hero-unit-post
    flex-grow 4
    position relative

    +below(m)
      display block
      padding-left 0
      margin-top 0.625rem


