@import "../../stylus/variables"
@import "jeet"

.post-wrapper
  display block
  position relative
  max-width 85rem
  margin 0 auto

  .post-header
    position relative
    display block

  &.post-text
    max-width 51.5rem

    +below(DISPLAY_MEDIUM)
      max-width 100%

  &.post-quote
    max-width 51.5rem

    +below(DISPLAY_MEDIUM)
      max-width 100%

.post-caption
  display block
  margin-top 5.25rem

.post-body,
.post-wrapper footer
  +below(DISPLAY_SMALL)
    padding 0 1rem

  p
    line-height 1.5rem

.post
  width 100%
  max-width 95rem
  margin 0 auto
  display block
  position relative
  clear both
  line-height 1.4
