.post.post-text
  padding 5.125rem 0

  ul
    margin 14px 0
    padding 0 0 0 40px
    list-style disc

  img
    max-width 100%

  iframe
    margin 0 auto !important
    display block !important

  .read-more-wrapper
    position relative
    width 100%
    display block
    cf()

    .read-more-button
      float right

  +below(m)
    padding 2.375rem 1.6125rem

  &.single
    padding 0

  h3
    font-size 2rem

  p
    margin 0
    padding 0 0 0.875rem

  figure
    padding 0
    margin 1rem 0

    img
      width 100%
      height auto

  .text-body
    line-height 1.5rem

  &.single .text-body
    column-count 1

  .thumbnail &
    padding 1.5rem 3rem

    h3
      font-size 1.414em
      padding 0

    .read-more-button
      padding 0.5rem
      margin 0.25rem 0