doctype html
html(lang='en')
  head
    title Pruno/React
    link(rel='stylesheet', href='/stylesheets/app.css')
  body
    h1 Pruno/React
    #app-mount
      p Failure initializing application.
    script(src='/bundle.js')
