@import "../../stylus/variables"

.social
  cf()

  a
    position relative
    display inline-block
    color $gray
    padding-right 1rem
    height 3rem
    line-height @height
    text-decoration none

    &:hover
      &.link
        color blue
      &.envelope
        color #ed6550
      &.facebook
        color #3b5998
      &.retweet
        color #35465c
      &.twitter
        color #55acee

.post-date
  font-family "Space Mono", monospace
  padding-left .5rem
  font-size .825rem
